#container{
    height: 700px;
    background: #E8F7ff;
}
.product-container{
    /* background-color: aqua; */
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around ;
}
.products{
height: 280px;
width: 270px;

}