
header {
    height: 40px;
    background-color: #0E2148;
    display: flex;
    align-items: center;
    color: white;
}

.menu {
    height: 40px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-left: 50px;
    /* background-color: red; */
    color: white;

}

.link{
    text-decoration: none;
}

.abc-menu {
    height: 30px;
    width: 120px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    color: white;
}

.abc-menu:hover {
    border: solid 1px aliceblue;
    box-shadow: 0px 0px 10px skyblue;
    
}
