nav {
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.amz-logo {
    height: 80px;
    width: 150px;
    margin-left: 30px;

}
.amz-logo:hover{
    box-shadow: 0px 0px 20px white;
}


.search-icon{
    margin-left: 10px;
}
.search-bar {
    height: 30px;
    width: 830px;
    /* background-color: yellowgreen; */

}
.menulinks{
    text-decoration: none;
    color: white;
}
.search {
    height: 30px;
    width: 800px;
}


.signin-btn{
    height: 40px;
    width: 80px;
        border: solid 1px aliceblue;
    box-shadow: 0px 0px 20px skyblue;

}

.signin-btn:hover {
    box-shadow: 0px 0px 20px skyblue;
border: none;
}
.sign-link{
     color: pink;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;

}

.abc {
    font-size:18px;
    text-decoration: none;
    color: white;
    /* background-color: green; */

}

