.page{
    
    height: 700px;
    /* background-color:beige ;  */
    display: flex;
    align-items: center;
    justify-content: center; 

    
}   
    form{
    height: 400px;
    width: 400px;
    background-color: #E7F8FF;
    text-align: center;
    border: solid 1px #E7F8FF;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 0px 0px 10px skyblue;

}
form:hover{
border-color: skyblue ;
}

.email{
    height: 30px;
    width: 300px;
    margin-top:45px;
    outline: none;
    border-color: skyblue;
    color: black;
    font-size: 14px;

}
.password{
     height: 30px;
    width: 300px;
    margin-top:25px;
    color:  skyblue;
    outline: none;
    border-color: skyblue;
    color: black;
    font-size: 14px;
   
}
.sign-button{
    height: 40px;
    width: 300px;
    background-color:skyblue ;
    margin-top: 50px;
     text-decoration: none;
     border:solid 1px skyblue;
     border-radius: 5px;
}
.sign-button:hover{
    background-color: #E7F8FF;
    box-shadow: 0px 0px 10px skyblue;
}
h2{
    color: skyblue;
    margin-top: 30px;
}
